<!--añadimos aquí el controlador bookCntr-->
<div ng-controller="bookCntr">
    <!--<h2 class="sub-header">Section title</h2>-->
    <h1 class="page-header">Books</h1>

    <form class="form-inline">

            <div class="input-group col-sm-10">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control input-lg" placeholder="Search a book" ng-model="searchBook">
            </div>
        <button type="button" ng-click="addBook()" class="btn btn-primary btn-lg pull-right">
            <span class="fa fa-plus-circle" aria-hidden="true"></span>
            Add new book
        </button>
    </form>


    <div class="table-responsive">
        <table class="table table-striped" ng-init="getBooks()">
            <thead>
            <tr>
                <th class="col-sm-5">
                    <a href="" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                        Title
                        <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-sm-4">
                    <a href="" ng-click="sortType = 'author_data'; sortReverse = !sortReverse">
                        Author
                        <span ng-show="sortType == 'author_data' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'author_data' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th class="col-sm-1">Lent</th>
                <th class="col-sm-2"></th>
            </tr>
            </thead>
            <tbody>
            <td colspan="4" ng-show="books.length=== 0" class="bg-info text-center text-info">There is no books!</td>
            <tr ng-repeat="book in books.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | orderBy:sortType:sortReverse | filter:searchBook ">


                <td>{{book.title}}</td>
                <td><span ng-if="book.author['name']">{{book.author['name']}}</span></td>
                <td ng-switch on="book.lent" class="text-center">
                    <span ng-switch-when="0">
                        <i class="fa fa-square-o" aria-hidden="true" title="No lent" uib-tooltip="Not lent"></i>
                    </span>
                    <span ng-switch-when="1">
                        <i class="fa fa-check-square-o" aria-hidden="true" title="Lent" uib-tooltip="Lent"></i>
                    </span>
                    <span ng-switch-default>Unknown</span>
                </td>
                <td class="text-right">
                    <!--Edit-->
                    <button type="button" class="btn btn-default btn-sm btn btn-primary" ng-click="editBookDetails(book)" uib-tooltip="Edit">
                        <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
                    </button>
                    <!--Details-->
                    <button type="button" class="btn btn-primary btn-sm" ng-click="getBookDetails(book)" uib-tooltip="Info">
                        <span class="fa fa-info-circle fa-lg" aria-hidden="true"></span>
                    </button>
                    <!--Remove-->
                    <button type="button" class="btn btn-danger btn-sm" ng-click="removeBook(book)" uib-tooltip="Remove">
                        <span class="fa fa-times-circle fa-lg" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 text-center" ng-hide="books.length=== 0">
        <ul uib-pagination total-items="books.length" items-per-page="itemsPerPage" ng-model="currentPage"></ul>
    </div>
    <div class="col-sm-2" ng-hide="books.length=== 0">
        <select ng-model="viewby" class="form-control" ng-change="setItemsPerPage(viewby)">
            <option>1</option>
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
        </select>
    </div>

    <!--<pre>Page: {{currentPage}} / {{getNumPages(books.length)}}</pre>-->
</div>

<!--TODO: Maquetar selección de número de elementos por página-->
<!--TODO: Modificar menú superior de acceso y control de usuario-->
<!--IMPORTANT!-->
<!--TODO: Corregir "add new book" (sólo introduce tres datos)-->
<!--TODO: Implementar modificación de BOOKS-->